<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <h1>Mon Site</h1>
  <!-- <div fxLayout="row" fxLayoutAlign="end" [style.width.%]="100"> -->
  <!-- <span [style.flex]="1"></span> solution 1-->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <!-- </div> -->
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let title of urlListHeader"
    (click) = "selectMenu(title.name)"
    [routerLink] = "routing(title.name)"
    [style.color] = "changeColor(title.name)">
    <span>{{title.name}}</span>
  </button>
</mat-menu>
