<ng-container [ngSwitch]="appService.selectedMenu">
<section *ngSwitchCase="'Home'">
  <h1>Home</h1>
  <p>
    Tu autem, Fanni, quod mihi tantum tribui dicis quantum ego nec adgnosco nec postulo, facis amice; sed, ut mihi videris, non recte iudicas de Catone; aut enim nemo, quod quidem magis credo, aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
  </p>
</section>

<section *ngSwitchCase="'Skills'">
  <h1>Skills</h1>
  <p>
    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.
  </p>
</section>

<section *ngSwitchCase="'Experience'">
  <h1>Experience</h1>
  <P>
    Unde Rufinus ea tempestate praefectus praetorio ad discrimen trusus est ultimum. ire enim ipse compellebatur ad militem, quem exagitabat inopia simul et feritas, et alioqui coalito more in ordinarias dignitates asperum semper et saevum, ut satisfaceret atque monstraret, quam ob causam annonae convectio sit impedita.
  </P>
</section>

<section  *ngSwitchCase="'Contact'">
  <h1>Contact</h1>
  <p>
    Et a auspiciis cui alia hanc copiis mundo speciosam alia iam cognita mundo itidemque itidemque planitiem florentissimae Apamia Syria non.
  </p>
</section>

<section *ngSwitchCase="'Todo'">
  <h1>Todo</h1>
  <app-add></app-add>
  <app-list></app-list>
  <app-edit></app-edit>
</section>

<section  *ngSwitchCase="'Legal Notice'">
  <h1>legal notice</h1>
  <p>
    Committat Salamis viribus Salamis Paphus Salamis omnibusque claram onerariam supremos urbes tanta urbes a Veneris crebra eadem adminiculi fundamento fundamento.
  </p>
</section>

<section *ngSwitchCase="'Credits'">
  <h1>Credits</h1>
  <p>
    Potuit artibus ad imperii aperte misisse ad imperii ex lege.
  </p>
</section>
</ng-container>

